.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pages{
  width: 100vw;
  height: 100vh;
}
.page1{
  background-position: 'center';
  background-size: cover;
  background-repeat: 'no-repeat';
  width: 100vw;
  height: 100vh;
}
.page2{
  background-position: 'center';
  background-size: cover;
  background-repeat: 'no-repeat';
  /* background-color: black; */
  width: 100vw;
  height: 100vh;
}

.page3{
  background-position: 'center';
  background-size: cover;
  background-repeat: 'no-repeat';
  /* background-color: black; */
  color: white;
  width: 100vw;
  height: 100vh;
}
.page4{
  background-position: 'center';
  background-size: cover;
  background-repeat: 'no-repeat';
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "Lucky";   /*Can be any text*/
  src: local("LuckiestGuy-Regular"),
    url("./fonts/LuckiestGuy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Sparky";   /*Can be any text*/
  src: local("SparkyStonesRegular-BW6ld"),
    url("./fonts/SparkyStonesRegular-BW6ld.ttf") format("truetype");
}
@font-face {
  font-family: "Mokoto";   /*Can be any text*/
  src: local("Mokoto"),
    url("./fonts/Mokoto.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit-eb";   /*Can be any text*/
  src: local("Kanit-ExtraBold"),
    url("./fonts/Kanit-ExtraBold.ttf") format("truetype");
}

.ReactModal__Overlay {
  opacity: 0;
  transform: scale(1, 0);
  transition: all 500ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.5);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: scale(1,1);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: scale(1,0);
}