.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pages {
  width: 100vw;
  height: 100vh;
}
.page1 {
  background-position: "center";
  background-size: cover;
  background-repeat: "no-repeat";
  width: 100vw;
  height: 100vh;
}
.page2 {
  background-position: "center";
  background-size: cover;
  background-repeat: "no-repeat";
  /* background-color: black; */
  width: 100vw;
  height: 100vh;
}

.page3 {
  background-position: "center";
  background-size: cover;
  background-repeat: "no-repeat";
  /* background-color: black; */
  color: white;
  width: 100vw;
  height: 100vh;
}
.page4 {
  background-position: "center";
  background-size: cover;
  background-repeat: "no-repeat";
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "Lucky"; /*Can be any text*/
  src: local("LuckiestGuy-Regular"),
    url("./fonts/LuckiestGuy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Sparky"; /*Can be any text*/
  src: local("SparkyStonesRegular-BW6ld"),
    url("./fonts/SparkyStonesRegular-BW6ld.ttf") format("truetype");
}
@font-face {
  font-family: "Mokoto"; /*Can be any text*/
  src: local("Mokoto"), url("./fonts/Mokoto.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit-eb"; /*Can be any text*/
  src: local("Kanit-ExtraBold"),
    url("./fonts/Kanit-ExtraBold.ttf") format("truetype");
}

.ReactModal__Overlay {
  opacity: 0;
  transform: scale(1, 0);
  transition: all 500ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.5);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: scale(1, 1);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: scale(1, 0);
}

/*
  Hover and click on the card for animations!
*/

@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  cursor: url(./images/cursor.png), auto;
}

.img:hover {
  width: 80px
}

button {
  display: block;
  position: relative;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  text-shadow: inherit;
  cursor: pointer;
  outline: inherit;
  z-index: 10;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.big {
  font-size: 270%;
}

.med {
  font-size: 170%;
  letter-spacing: 0.5px;
}

.small {
  font-size: 115%;
  letter-spacing: 0.5px;
}

.no-space {
  letter-spacing: 0px;
}

.card {
  background-color: #f4f1eb;
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
  height: 400px;
  width: 550px;
  margin: 20vh auto 0 auto;
  margin-top: 0vh;
  padding: 10px 10px 10px 10px;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  /*transform-origin: 50% 100%;*/
  box-shadow: 0;
  transition: transform 0.7s ease, box-shadow 0.4s ease;
  background-color: #ffff49;
}

.card:hover {
  cursor: pointer;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translateZ(20px);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.4);
}

.card:focus {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(20px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.card:focus::before {
  transform: skewX(50deg) translateX(0px) translateY(0px);
  height: 0px;
}

.card:focus::after {
  transform: skewY(0deg) translateX(0px) translateY(0px);
  width: 0px;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  display: block;
  background-color: grey;
  transition: transform 0.4s ease, height 0.4s ease, width 0.4s ease;
}

.card::before {
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  transform: skewX(45deg) translateX(-3px) translateY(6px);
}

.card::after {
  height: 100%;
  width: 6px;
  top: 0;
  right: 0;
  transform: skewY(45deg) translateX(6px) translateY(-3px);
}

.row {
  display: block;
  text-align: center;
}

.row:nth-child(2) {
  margin: 35px 0 50px 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

p {
  margin: 0;
}
